<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{{>bootstrap_include}}
	{{>google_font_include}}
	{{>css_include}}	
	<link rel="stylesheet" href="/css/admin_login.css">
	<link rel="stylesheet" href="/css/admin_nav.css">
</head>

<body>
	{{>admin_dash_nav}}

	<div class="wrapper">
		<div class="container-md mt-5 login-container">
			<div class="about-heading text-center pt-3">Profile</div>
			<div class="underline"></div>
			<div class="container-sm">
				<form action="/update-admin" method="post">
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required maxlength="30" value="{{admin_email}}" name="amail" readonly="readonly">
						<label for="floatingEmail">Email Address</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingFName" placeholder="Enter First Name" required maxlength="10" name="fname">
						<label for="floatingFName">First Name</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingLName" placeholder="Enter Last Name" required maxlength="9" name="lname">
						<label for="floatingLName">Last Name</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="floatingPass" placeholder="Password" required maxlength="16" minlength="8" name="apass">
						<label for="floatingPass">Password</label>
					</div>
					<button type="submit" class="btn btn-dark form-control">Update Details</button>
				</form>
			</div>
		</div>
	</div>
</body>

<script>
	document.getElementById('profile').classList.add('active');
	document.getElementById('projects').classList.remove('active');
</script>

</html>