<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{{>bootstrap_include}}
	{{>google_font_include}}
	{{>css_include}}
	<link rel="stylesheet" href="/css/admin_login.css">
	<link rel="stylesheet" href="/css/admin_nav.css">
</head>

<body>
	<div class="wrapper">
		{{>navbar}}

		<div class="container-md mt-5 login-container">
			<div class="about-heading text-center pt-3">Admin Panel Login</div>
			<div class="underline"></div>
			<div class="container-sm">
				<form action="/admin-login" method="post">
					<div class="input-group mb-3">
						<span class="input-group-text" id="addon-wrapping">@</span>
						<input type="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" name="admin_email" required maxlength="30">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="addon-wrapping">#</span>
						<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" name="admin_password" required maxlength="16" minlength="8">
					</div>
					<button type="submit" class="btn btn-dark form-control">Login</button>
					{{#if error}}
						<div class="errormessage mt-3">
							<center>{{error}}</center>
						</div>
					{{/if}}
				</form>
			</div>
		</div>

		{{>footer}}
	</div>
</body>

</html>

<script>
	document.getElementById('home').classList.remove('active');
	document.getElementById('resume').classList.remove('active');
	document.getElementById('works').classList.remove('active');
</script>