/* .container {
    width: 500px !important;
} */

.login-container {
    height: 80vh;
    padding-top: 20vh;
}

.errormessage {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

.about-heading {
    color: rgb(142, 142, 248);
    font-size: xx-large;
    font-weight: bold;
}

/* Disable the default check icon when form is validated by bootstrap */
.form-control:valid, .form-select:valid {
    background-image: none !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}