img {
    pointer-events: none;
}

.navbar {
    background-color: #212529;
    opacity: 0.95;
    z-index: 100;
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
}

.active {
    border-bottom-width: 3px;
    text-decoration: dotted underline;
}

span {
    font-size: larger;
}

span a {
    margin: 7px;
}