.projects-container {
    min-height: 100%;
}

.link-btn {
    background-color: #08bd80;
    border-color: #08bd80;
    color: #ffffff;
}

.link-btn:hover {
    background-color: transparent;
    color: #08bd80;
}

.project-container {
    border-radius: 5px;
    box-shadow: 2px 2px 14px 0px #9a9a9a;
    padding: 0px 10px 5px 10px;
}